/web/bundles/
/web/old/
/public_html/bundles/
/public_html/old/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/public_ftp/
/public_html/app.rodaboats.eu.zip
/stats/
/uploads/
/cgi-bin/
/logs/
/.idea/
/node_modules/
