{% if order.status is constant('AppBundle\\DataProvider\\OrderDataProvider::STATUS_CONFIRMED') %}
	<span class="label label-success">Confirmed</span>
{% endif %}
{% if order.status is constant('AppBundle\\DataProvider\\OrderDataProvider::STATUS_CANCELLED') %}
	<span class="label label-danger">Cancelled</span>
{% endif %}
{% if order.status is constant('AppBundle\\DataProvider\\OrderDataProvider::STATUS_DELIVERED') %}
	<span class="label label-primary">Delivered</span>
{% endif %}
{% if order.status is constant('AppBundle\\DataProvider\\OrderDataProvider::STATUS_CLOSED') %}
	<span class="label label-default">Closed</span>
{% endif %}