<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block html_title %}{% endblock %}</title>
    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/print/paper.css') }}">
    <style>
        @page {
            size: {{ paper_size | default('A4') }}{% if landscape is defined and landscape is same as(true) %} landscape{% endif %}
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="{{ paper_size | default('A4') }}{% if landscape is defined and landscape is same as(true) %} landscape{% endif %}">
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
</body>

</html>
