{% extends 'print.html.twig' %}

{% block body %}
    <section class="sheet padding-10mm">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">RodaBoats - Declaración pasajeros</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Start date:</label>
                <span>2018/04/22</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Start time:</label>
                <span>11:00</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Number of passengers:</label>
                <span>12</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Number of passengers:</label>
                <span>12</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">End time:</label>
                <span>22:00</span>
            </div>
        </div>
    </section>
{% endblock %}