@keyframes spinAround{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}.loading-overlay{bottom:0;left:0;position:absolute;right:0;top:0;align-items:center;display:none;justify-content:center;overflow:hidden;position:fixed;z-index:999}.loading-overlay.is-active{display:flex}.loading-overlay .loading-background{bottom:0;left:0;position:absolute;right:0;top:0;background:#fff;opacity:.5}.loading-overlay .loading-icon{position:relative}.loading-overlay .loading-icon:after{animation:spinAround .5s infinite linear;border:2px solid #777;border-radius:290486px;border-right-color:transparent;border-top-color:transparent;content:"";display:block;height:5em;left:calc(50% - 2.5em);position:absolute;top:0;width:5em}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.VueTables__table tr:hover {
    cursor: pointer;
}
.VueTables__table tr:hover td {
    background-color: #c1e2b3;
}
.VuePagination > nav:before, .VuePagination > nav:after {
    content: " ";
    display: table;
}
.VuePagination > nav:after {
    clear: both;
}
.dropdown-form .dropdown-menu {
    padding: 10px;
}
.open > .dropdown-menu {
    display: block;
}
.boat-dropdown {
    width: 100%;
}
.customer-autocomplete .dropdown-menu {
    margin-left: 15px;
}
.dropdown-menu > li > strong {
    display: block;
    padding: 3px 10px 0 10px;
    clear: both;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > ul {
    list-style: none;
    font-size: 14px;
    text-align: left;
    padding: 0 0 5px 0;
    margin: 2px 0 0;
}
.dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > ul > li > a.selected {
    background-color: #cccccc;
}
.loading-overlay {
    z-index: 10000;
}
